.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 30px;
  margin: 0;
  color: black;
  margin-bottom: 8px;
}
.input {
  width: 400px;
  height: 30px;
  color: black;
  border-radius: 42px;
  padding: 10px;
}
