.link {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

.disabled {
  color: grey;
  cursor: pointer; /* Makes the link non-clickable */
}
