.cont {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
.icon {
  padding-right: 10px;
  width: 30px;
  height: 25px;
  color: #1976d2;
}
.text {
  width: 350px;
  display: flex;
  font-size: 18px;
  align-items: center;
}
