.link {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 300px;
}

.linkBtn {
  text-decoration: none;
  display: inline-block;
  color: white;
  width: 150px;
  height: 30px;

  align-items: center;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.btn:hover {
  background-position: right center;
}
