.item {
  position: relative;
  font-size: 20px;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;

  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

.list {
  width: 700px;
  margin: 0 auto;
  counter-reset: li;
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
